<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Home</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios-search-strong" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1" style="padding: 0px; margin: 1px 0px;">
            <div class="col" data-comp-id="column.2" style="padding: 0px; margin: 1px;">
                <div class="row assertive-bg" data-comp-id="row.2"
                    ng-click="app.action('home', 'action2', this)"
                    style="margin: 1px 2px 2px 1px; padding: 10px;"></div>
                <div class="row royal-bg" data-comp-id="row.3"
                    ng-click="app.action('home', 'action3', this)"
                    style="margin: 3px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.4" style="padding: 20px 0px;"></div>
                </div>
            </div>
        </div>
        <div class="row" data-comp-id="row.4" style="padding: 0px; margin: 1px 0px;">
            <div class="col" data-comp-id="column.5" style="padding: 0px; margin: 1px;">
                <div class="row positive-bg" data-comp-id="row.5"
                    ng-click="app.action('home', 'action4', this)"
                    style="margin: 1px 2px 2px 1px; padding: 10px;"></div>
                <div class="row balanced-bg" data-comp-id="row.6"
                    ng-click="app.action('home', 'action5', this)"
                    style="margin: 3px 2px 2px 1px; padding: 10px;"></div>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="" style="padding: 0px; background-color: #cccccc;">
        <div class="row" data-comp-id="row.7" style="padding: 0px;">
            <div class="col text-center" data-comp-id="column.9" style="padding: 3px 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button class="button icon button-clear ion-android-person button-dark"
                        ng-click="app.call('clientabstract.id')"></button>
                    <div class="label dark" style="font-size: 12px; line-height: 14px;">Account</div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.10" style="padding: 3px 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon button-clear button-dark ion-ios-telephone"
                        ng-click="app.call('clientabstract.referralHistory')"></button>
                    <div class="label dark" style="font-size: 12px; line-height: 14px;">History</div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.11" style="padding: 3px 0px;">
                <div class="footer-button" data-comp-id="footerButton.3">
                    <button class="button icon button-clear button-dark ion-android-folder"
                        ng-click="app.call('clientabstract.caseHistory')"></button>
                    <div class="label dark" style="font-size: 12px; line-height: 14px;">Case</div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.12" style="padding: 3px;">
                <div class="footer-button" data-comp-id="footerButton.4">
                    <button class="button icon button-clear ion-android-pin button-positive"></button>
                    <div class="label positive" style="font-size: 12px; line-height: 14px;">Location</div>
                </div>
            </div>
        </div>
    </div>
</ion-view>